body {
  margin: 0;
}

/* CUSTOMISATION */

.as24-pictures__slider .as24-carousel__item {
  width: 640px;
  height: 480px;
}

.as24-pictures--fullscreen .as24-pictures__slider .as24-carousel__item {
  height: auto;
}



/* THE REST, CUSTOM THINGS */

.car-info {
  color: #fff;
  margin-bottom: 32px;
}

.car-info svg rect,
.car-info svg path,
.car-info svg polygon {
  fill: #fff;
}

.ads {
  height: 200px;
  background: #ccc;
}

.gallery-picture {
  flex: 1;
  position: relative;
  height: 100%;
}

.gallery-picture__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-width: 100%;
  max-height: 100%;
}
