body {
  margin: 0;
}

#wrapper {
  max-width: 640px;
}

.car-info {
  color: #fff;
  margin-bottom: 32px;
}

.car-info svg rect,
.car-info svg path,
.car-info svg polygon {
  fill: #fff;
}

.ads {
  background: #ccc;
}

.as24-pictures__slider .as24-carousel-container {
  height: 480px;
}

.ads {
  height: 200px;
  background: #ccc;
}
