<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Showcar Pictures</title>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="http://as24-showcar-ui.aws.autoscout24.com/dist/showcar-ui.css"/>
  <link rel="stylesheet" href="node_modules/showcar-carousel/dist/showcar-carousel.css"/>
  <link rel="stylesheet" href="dist/showcar-pictures.css"/>
</head>
<body>

<as24-pictures>
  <div class="as24-pictures-header fullScreen-show">
    <h2 class="sc-font">Super nice car</h2>
    <h3 class="sc-font">sporty and fast</div>
  </div>
  <div class="as24-pictures-ad fullScreen-show"></div>
  <div class="as24-pictures-slider-container">
  <as24-carousel class="as24-pictures-slider"
                 mode="slider"
                 gap="0"
                 preview="true"
                 indicator="true">
    <div class="as24-carousel-item">
      <div class="as24-carousel-image-container">
        <img data-src="http://placehold.it/640x480/d91a2a/ffffff?text=1"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="as24-carousel-image-container">
        <img data-src="http://placehold.it/640x480/ff7500/000000?text=2"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="as24-carousel-image-container">
        <img data-src="http://placehold.it/640x480/e6f5cf/000000?text=3"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="as24-carousel-image-container">
        <img data-src="http://placehold.it/640x480/e4eeff/000000?text=4"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="as24-carousel-image-container">
        <img data-src="http://placehold.it/640x480/33aadd/000000?text=5"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="as24-carousel-image-container">
        <img data-src="http://placehold.it/640x480/007CCA/000000?text=6"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="as24-carousel-image-container">
        <img data-src="http://placehold.it/640x480/217306/ffffff?text=7"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="as24-carousel-image-container">
        <img data-src="http://placehold.it/640x480/994200/ffffff?text=8"
             src=""
             alt="">
      </div>
    </div>
  </as24-carousel>
  <as24-carousel class="as24-pictures-thumbnails"
                 gap="0">
    <div class="as24-carousel-item">
      <div class="as24-carousel-image-container">
        <img data-src="http://placehold.it/100x75/d91a2a/ffffff?text=1"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="as24-carousel-image-container">
        <img data-src="http://placehold.it/100x75/ff7500/000000?text=2"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="as24-carousel-image-container">
        <img data-src="http://placehold.it/100x75/e6f5cf/000000?text=3"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="as24-carousel-image-container">
        <img data-src="http://placehold.it/100x75/e4eeff/000000?text=4"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="as24-carousel-image-container">
        <img data-src="http://placehold.it/100x75/33aadd/000000?text=5"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="as24-carousel-image-container">
        <img data-src="http://placehold.it/100x75/007CCA/000000?text=6"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="as24-carousel-image-container">
        <img data-src="http://placehold.it/100x75/217306/ffffff?text=7"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="as24-carousel-image-container">
        <img data-src="http://placehold.it/100x75/994200/ffffff?text=8"
             src=""
             alt="">
      </div>
    </div>
  </as24-carousel>
  </div>
  <i class="as24-pictures-fullScreen-close fullScreen-show"></i>
</as24-pictures>

<script src="http://as24-showcar-ui.aws.autoscout24.com/dist/showcar-ui.js"></script>
<script src="node_modules/showcar-carousel/dist/showcar-carousel.js"></script>
<script src="dist/showcar-pictures.js"></script>

<script>
  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
</script>
</body>
</html>
