<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Showcar Pictures</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://as24-showcar-ui.aws.autoscout24.com/dist/showcar-ui.css">
  <link rel="stylesheet" href="node_modules/showcar-carousel/dist/showcar-carousel.css">
  <link rel="stylesheet" href="example/example.css">
  <link rel="stylesheet" href="dist/showcar-pictures.pre.css">
</head>
<body>
<p>The viewport is limited to 640px</p>
<div id="wrapper">
<as24-pictures class="as24-pictures">
  <div class="as24-pictures__header">
    <div class="as24-pictures__header-line">
      <h2 class="as24-pictures__picture-title">Volkswagen Golf Variant 7 VII 1.6 TDI BMT Sitzkomfort-Paket</h2>
      <i class="as24-pictures__fullscreen-close">Schließen</i>
    </div>
    <div class="as24-pictures__header-line">
      <h5 class="as24-pictures__picture-subtitle">Station wagon</h5>
    </div>
  </div>
  <div class="as24-pictures__content">
    <div class="as24-pictures__slider-container">
      <as24-carousel class="as24-pictures__slider" role="slider" mode="slider" gap="0" preview="false" indicator="true">
        <div class="as24-carousel-item" style="transform: translate3d(628px, 0px, 0px); z-index: 0; transition-duration: 300ms;">
          <iframe class="as24-pictures__iframe" width="640" height="480" src="https://www.youtube.com/embed/zklKSkUimMc" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="as24-carousel-item" style="transform: translate3d(628px, 0px, 0px); z-index: 0; transition-duration: 300ms;">
          <img class="as24-pictures__image" data-fullscreen-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295001.jpg?48b6c4a791e6254523186e015f13165a" data-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295001.jpg?48b6c4a791e6254523186e015f13165a" src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295001.jpg?48b6c4a791e6254523186e015f13165a" alt="">
        </div>
        <div class="as24-carousel-item" style="transform: translate3d(-628px, 0px, 0px); z-index: 0; transition-duration: 300ms;">
          <img class="as24-pictures__image" data-fullscreen-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295002.jpg?48b6c4a791e6254523186e015f13165a" data-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295002.jpg?48b6c4a791e6254523186e015f13165a" src="" alt="">
        </div>
        <div class="as24-carousel-item" style="transform: translate3d(-628px, 0px, 0px); z-index: 0; transition-duration: 300ms;">
          <img class="as24-pictures__image" data-fullscreen-src="http://placehold.it/2275x1600/e6f5cf/000000?text=3" data-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295003.jpg?48b6c4a791e6254523186e015f13165a" src="" alt="">
        </div>
        <div class="as24-carousel-item" style="transform: translate3d(-628px, 0px, 0px); z-index: 0; transition-duration: 300ms;">
          <img class="as24-pictures__image" data-fullscreen-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295004.jpg?48b6c4a791e6254523186e015f13165a" data-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295004.jpg?48b6c4a791e6254523186e015f13165a" src="" alt="">
        </div>
        <div class="as24-carousel-item" style="transform: translate3d(-628px, 0px, 0px); z-index: 0; transition-duration: 300ms;">
          <img class="as24-pictures__image" data-fullscreen-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295005.jpg?48b6c4a791e6254523186e015f13165a" data-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295005.jpg?48b6c4a791e6254523186e015f13165a" src="" alt="">
        </div>
        <div class="as24-carousel-item" style="transform: translate3d(-628px, 0px, 0px); z-index: 0; transition-duration: 300ms;">
          <img class="as24-pictures__image" data-fullscreen-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295006.jpg?48b6c4a791e6254523186e015f13165a" data-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295006.jpg?48b6c4a791e6254523186e015f13165a" src="" alt="">
        </div>
        <div class="as24-carousel-item" style="transform: translate3d(-628px, 0px, 0px); z-index: 0; transition-duration: 300ms;">
          <img class="as24-pictures__image" data-fullscreen-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295007.jpg?48b6c4a791e6254523186e015f13165a" data-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295007.jpg?48b6c4a791e6254523186e015f13165a" src="" alt="">
        </div>
        <div class="as24-carousel-item" style="transform: translate3d(-628px, 0px, 0px); z-index: 0; transition-duration: 300ms;">
          <img class="as24-pictures__image" data-fullscreen-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295008.jpg?48b6c4a791e6254523186e015f13165a" data-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295008.jpg?48b6c4a791e6254523186e015f13165a" src="" alt="">
        </div>
        <div class="as24-carousel-item" style="transform: translate3d(-628px, 0px, 0px); z-index: 0; transition-duration: 300ms;">
          <img class="as24-pictures__image" data-fullscreen-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295009.jpg?48b6c4a791e6254523186e015f13165a" data-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295009.jpg?48b6c4a791e6254523186e015f13165a" src="" alt="">
        </div>
        <div class="as24-carousel-item" style="transform: translate3d(-628px, 0px, 0px); z-index: 0; transition-duration: 300ms;">
          <img class="as24-pictures__image" data-fullscreen-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295010.jpg?48b6c4a791e6254523186e015f13165a" data-src="https://secure.pic.autoscout24.net/images-big/295/000/0284000295010.jpg?48b6c4a791e6254523186e015f13165a" src="" alt="">
        </div>
      </as24-carousel>
      <as24-carousel role="thumbnails" class="as24-pictures__thumbnails" gap="4">
        <div class="as24-carousel-item">
          <img data-src="http://placehold.it/100x75/d91a2a/ffffff?text=1"
               src=""
               alt="">
        </div>
        <div class="as24-carousel-item">
          <img data-src="http://placehold.it/75x75/ff7500/000000?text=2"
               src=""
               alt="">
        </div>
        <div class="as24-carousel-item">
          <img data-src="http://placehold.it/75x75/e6f5cf/000000?text=3"
               src=""
               alt="">
        </div>
        <div class="as24-carousel-item">
          <img data-src="http://placehold.it/100x75/e4eeff/000000?text=4"
               src=""
               alt="">
        </div>
        <div class="as24-carousel-item">
          <img data-src="http://placehold.it/100x75/33aadd/000000?text=5"
               src=""
               alt="">
        </div>
        <div class="as24-carousel-item">
          <img data-src="http://placehold.it/100x75/007CCA/000000?text=6"
               src=""
               alt="">
        </div>
        <div class="as24-carousel-item">
          <img data-src="http://placehold.it/100x75/217306/ffffff?text=7"
               src=""
               alt="">
        </div>
        <div class="as24-carousel-item">
          <img data-src="http://placehold.it/100x75/994200/ffffff?text=8"
               src=""
               alt="">
        </div>
        <div class="as24-carousel-item">
          <img data-src="http://placehold.it/100x75/994200/ffffff?text=8"
               src=""
               alt="">
        </div>
        <div class="as24-carousel-item">
          <img data-src="http://placehold.it/100x75/994200/ffffff?text=8"
               src=""
               alt="">
        </div>
        <div class="as24-carousel-item">
          <img data-src="http://placehold.it/100x75/994200/ffffff?text=8"
               src=""
               alt="">
        </div>
      </as24-carousel>
    </div>
    <aside class="as24-pictures__info">
      <div class="car-info">
        <!-- Custom car info -->
        <div class="cldt-stage-data">
          <div class="cldt-stage-headline">
            <div class="sc-grid-row">
              <div class="sc-grid-col-8">
                <h1 class="sc-font">€ 9,880.-</h1>
              </div>
            </div>
            <p class="sc-font-m cldt-price-info">
              <span>VAT deductible</span>
            </p>
          </div>
          <hr>
          <div class="cldt-stage-basic-data">
            <div>
              <svg version="1.1" x="0px" y="0px" width="19px" height="15.1px" viewBox="5 5 24 16.1">
                <rect x="15.7" y="5.6" width="1.5" height="3.1"></rect>
                <rect x="15.7" y="11.6" width="1.5" height="3.1"></rect>
                <rect x="15.7" y="17.6" width="1.5" height="3.1"></rect>
                <polygon points="10.4,5.6 7.1,20.7 8.9,20.7 12.2,5.6 "></polygon>
                <polygon points="20.8,5.6 24.3,20.6 26.1,20.6 22.5,5.6 "></polygon>
              </svg>
              <span class="sc-font-l cldt-stage-primary-keyfact">175,027 km</span>
              <span class="sc-font-s cldt-stage-att-description">Used, Full Service History</span>
            </div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="19px" height="18.5px" viewBox="0 0 19 18.5">
                <path d="M17.7 1.9H15V.6c0-.3-.3-.6-.6-.6-.4 0-.6.3-.6.6v1.2H5.3V.6C5.3.3 5 0 4.6 0c-.3 0-.6.3-.6.6v1.2H1.3C.6 1.9 0 2.4 0 3.1v14.3c0 .7.6 1.2 1.3 1.2h16.4c.7 0 1.3-.5 1.3-1.2V3.1c0-.7-.6-1.2-1.3-1.2zm0 15.3H1.3v-14H4v.6c0 .4.3.6.6.6.4 0 .6-.3.6-.6v-.6h8.5v.6c0 .4.3.6.6.6.4 0 .6-.3.6-.6v-.6h2.7v14z"></path>
                <path d="M7.4 13H9V8.4H7.7v-.8c.3-.1.6-.2.9-.2.2-.1.5-.2.7-.4h.9v6h1.4v1H7.4v-1z"></path>
                <path class="st0" d="M7.4 13H9V8.4H7.7v-.8c.3-.1.6-.2.9-.2.2-.1.5-.2.7-.4h.9v6h1.4v1H7.4v-1z"></path></svg>
              <span class="sc-font-l cldt-stage-primary-keyfact">04/2014</span>
              <span class="sc-font-s cldt-stage-att-description">1 previous owner, Accident free</span>
            </div>
            <div>
              <svg x="0px" y="0px" width="19px" height="16.2px" viewBox="4 5 23 16.2">
                <g>
                  <path d="M16.1,15.2c0,0,0.1-0.1,0.1-0.1l1.8-5.7c0.1-0.2,0-0.4-0.2-0.4c-0.2-0.1-0.4,0-0.5,0.1L13.9,14c0,0,0,0.1-0.1,0.1c0,0-0.1,0.1-0.1,0.1c-0.2,0.5-0.1,1.1,0.3,1.4c0.1,0.1,0.2,0.2,0.3,0.2c0.3,0.1,0.6,0.2,1,0.1c0.3-0.1,0.6-0.3,0.7-0.6C16,15.3,16.1,15.3,16.1,15.2z"></path>
                  <path d="M10.1,20.6c-2.1-1.5-3.4-3.9-3.4-6.7c0-4.5,3.7-8.2,8.2-8.2c4.5,0,8.2,3.7,8.2,8.2c0,2.7-1.3,5.2-3.4,6.7h1.9c1.7-1.7,2.7-4.1,2.7-6.7c0-5.2-4.3-9.5-9.5-9.5c-5.2,0-9.5,4.3-9.5,9.5c0,2.6,1,4.9,2.7,6.7H10.1z"></path>
                </g>
              </svg>
              <span class="sc-font-l cldt-stage-primary-keyfact">77 kW</span>
              <span class="sc-font-m cldt-stage-primary-keyfact">105 hp</span>
              <span class="sc-font-s cldt-stage-att-description">Manual, Diesel</span>
            </div>
          </div>
        </div>
        <hr>
        <!-- / Custom car info -->
      </div>
      <div class="ads"></div>
    </aside>
  </div>
</as24-pictures>
</div>
<script src="http://as24-showcar-ui.aws.autoscout24.com/dist/showcar-ui.js"></script>
<script src="node_modules/showcar-carousel/dist/showcar-carousel.js"></script>
<script src="dist/showcar-pictures.js"></script>

<script>
  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

  var _wrapper = document.getElementById('wrapper');
  _wrapper.addEventListener('as24-pictures.fullscreen', console.log.bind(console));
  _wrapper.addEventListener('as24-pictures.slide', console.log.bind(console));
  _wrapper.addEventListener('as24-carousel.slide', function(e) {
    console.log('from carousel', e);
  });
</script>
</body>
</html>
