@import 'npm:showcar-ui/src/01-settings/variables.scss';
@import 'npm:showcar-ui/src/legacy-mixins.scss';

$component-bg-color: rgba(0, 0, 0, .95);
$controlls-bg-color: rgba(0, 0, 0, .4);
$thumbs-padding: 7px 0;
$thumb-width: 100px;
$thumbs-height: (($thumb-width * 75) / 100) + 14;

$title-text-colour: #fff;

$active-thumb-border: $orange-100;

$fullscreen-container-padding: $XXL;
$headeing-margin: $XL;

$button-colour: #fff;

$animation-time: .3s;

@mixin x-button {
  &:after,
  &:before {
    border-top: solid 2px $button-colour;
    content: '';
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 27px;
  }

  &:before {
    transform: translateY(10px) rotate(45deg);
  }

  &:after {
    transform: translateY(10px) rotate(135deg);
  }
}

.coral .as24-pictures .as24-carousel__item.active:after {
  border: 2px solid #f90038;
}

.yellow .as24-pictures .as24-carousel__item.active:after {
  border: 2px solid #1A72E8;
}

.google-blue .as24-pictures .as24-carousel__item.active:after {
  border: 2px solid #1A72E8;
}

.jeans-blue .as24-pictures .as24-carousel__item.active:after {
  border: 2px solid #1E7BAA;
}

.as24-pictures {
  background: $component-bg-color;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;

  // Customisations

  .as24-carousel__item {
    cursor: pointer;
  }

  .as24-carousel__button {
    background-color: $controlls-bg-color;
    height: 75px;

    &[data-direction='left'] {
      left: 0;
    }

    &[data-direction='right'] {
      right: 0;
    }

  }

  .as24-carousel__indicator {
    background: $controlls-bg-color;
    bottom: 0;
    transform: translate3d(0, 0, 0);
    transition: transform $animation-time;
    will-change: transform;
  }

  &:hover {

    @media(min-width: 1025px) {
      .as24-pictures__thumbnails {
        transform: translate3d(0, 0, 0);
      }

      .as24-carousel__indicator {
        transform: translate3d(0, -$thumbs-height, 0) !important;
      }
    }

  }

  &__header,
  &__info {
    display: none;
  }

  @at-root &__slider-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    position: relative;
  }

  @at-root &__thumbnails {
    backface-visibility: hidden;
    background: $controlls-bg-color;
    bottom: 0;
    left: 0;
    padding: $thumbs-padding;
    perspective: 1000px;
    position: absolute;
    transform: translate3d(0, 100%, 0);
    transition: transform $animation-time;
    width: 100%;

    .as24-carousel__item {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex: 0 0 $thumb-width;
      height: 75px;
      justify-content: center;
      margin-left: 2px;
      margin-right: 2px;
      position: relative;
      width: $thumb-width;

      &.active {
        &:after {
          border: 2px solid $active-thumb-border;
          bottom: -2px;
          content: '';
          left: -2px;
          position: absolute;
          right: -2px;
          top: -2px;
        }
      }
    }

    .as24-carousel__button {
      height: 100%;
      width: 40px;

      &[data-direction='right'] {
        right: 0;
      }

      &[data-direction='left'] {
        left: 0;
      }

      &.as24-carousel__button--hidden {

        &[data-direction='right'] {
          transform: translate3d(100%, 0, 0);
        }

        &[data-direction='left'] {
          transform: translate3d(-100%, 0, 0);
        }

      }
    }

  }

  @at-root &__fullscreen-close {
    @include x-button();
    align-items: center;
    color: $button-colour;
    cursor: pointer;
    margin: 12px 0 0 30px;
    padding: 1px 0 0 35px;
    position: absolute;
    right: 30px;
    z-index:1;
  }

  @at-root &--fullscreen {
    @include mqmin(1025px) {
      display: flex;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10000;

      &:hover {
        .as24-pictures__thumbnails {
          transform: translate3d(0, 0, 0);
        }

        .as24-carousel__indicator {
          transform: translate3d(0, 0, 0) !important;
        }
      }

      .as24-pictures {

        &__container {
          display: flex;
          flex: 1;
          flex-direction: column;
          padding: $fullscreen-container-padding;
        }

        &__content {
          display: flex;
          flex: 1 0 auto;
        }

        &__header {
          display: flex;
          flex-direction: column;
          margin-bottom: $headeing-margin;

          &-line {
            display: flex;
            flex: 1 0 auto;
          }
        }

        &__picture-title,
        &__picture-subtitle {
          color: $title-text-colour;
        }

        &__picture-title {
          @include font(XXL, false);
          flex: 1;
          margin-bottom: 4px;
        }

        &__picture-subtitle {
          @include font(M, false);
        }

        &__slider {
          flex: 1 0 auto;

          .as24-carousel__container {
            height: auto;
            justify-content: flex-start;
          }

          .as24-carousel__item {
            max-width: none;
            width: 100%;
          }
        }

        &__thumbnails {
          background: none;
          flex: 0 0 auto;
          position: relative;
          transform: translate3d(0, 0, 0);

          .as24-carousel__container {
            display: flex;
            justify-content: center;
          }

          .as24-carousel__item {
            img {
              max-height: 100%;
            }
          }
        }

        &__info {
          display: flex;
          flex: 0 0 330px;
          flex-direction: column;
          margin-left: 16px;
        }

      }

    }

  }
}
