$componentBGColor: rgba(0, 0, 0, .95);
$controllsBGColor: rgba(0, 0, 0, .4);
$thumbsPadding: 7px 0px;
$thumbWidth: 100px;
$thumbsHeight: (($thumbWidth * 75) / 100) + 14;

$animationTime: .3s;

@import "npm:showcar-ui/src/scss/mixins/fonts.scss";
@import "npm:showcar-ui/src/scss/mixins/utils.scss";
@import "npm:showcar-ui/src/scss/variables.scss";

@mixin xButton {
  &:after,
  &:before {
    content: '';
    display: block;
    width: 27px;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    border-top: solid 2px #fff;
  }

  &:before {
    transform: translateY(10px) rotate(45deg);
  }

  &:after {
    transform: translateY(10px) rotate(135deg);
  }
}

.as24-pictures {
  box-sizing: border-box;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background: $componentBGColor;

  // Customisations

  .as24-carousel__item {
    cursor: pointer;
  }

  .as24-carousel__button {
    background-color: $controllsBGColor;
    height: 75px;

    &[data-direction="left"] {
      left: 0;
    }

    &[data-direction="right"] {
      right: 0;
    }

  }

  .as24-carousel__indicator {
    background: $controllsBGColor;
    transition: transform $animationTime;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    bottom: 0;
  }

  &:hover {
    .as24-pictures__thumbnails {
      transform: translate3d(0, 0, 0);
    }
    .as24-carousel__indicator {
      transform: translate3d(0, -$thumbsHeight, 0) !important;
    }
  }

  &__header,
  &__info {
    display: none;
  }

  @at-root &__slider-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    min-width: 0px;
  }

  @at-root &__thumbnails {
    transition: transform $animationTime;
    perspective: 1000px;
    backface-visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: $thumbsPadding;
    width: 100%;
    background: $controllsBGColor;
    transform: translate3d(0, 100%, 0);

    .as24-carousel__button {
      width: 35px;
      height: 75px;

      &[data-direction="left"] {
        left: 0;
      }

      &[data-direction="right"] {
        right: 0;
      }

    }

    .as24-carousel__item {
      width: $thumbWidth;
      height: 75px;
      flex: 0 0 $thumbWidth;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-left: 2px;
      margin-right: 2px;
      cursor: pointer;

      &:after {
        position: absolute;
        content: '';
        top: -2px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
      }

      &.active:after {
        border: 2px solid #ff7500;
      }

    }

    .as24-carousel__button {
      width: 40px;
      height: 100%;

      &[data-direction="right"]{
        right: 0;
      }
      &[data-direction="left"]{
        left: 0;
      }

      &.as24-carousel__button--hidden {
        &[data-direction="right"]{
          transform: translate3d(100%, 0, 0);
        }
        &[data-direction="left"]{
          transform: translate3d(-100%, 0, 0);
        }
      }
    }

  }

  @at-root &__fullscreen-close {
    cursor: pointer;
    color: #fff;
    align-items: center;
    padding: 1px 0 0 35px;
    margin: 12px 0 0 30px;
    position: relative;
    @include xButton();
  }

  @at-root &--fullscreen {
    @include mqmin(1025px) {
      display: flex;
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 10000;

      &:hover {
        .as24-pictures__thumbnails {
          transform: translate3d(0, 0, 0);
        }
        .as24-carousel__indicator {
          transform: translate3d(0, 0, 0) !important;
        }
      }

      .as24-pictures {

        &__container {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          padding: $XXL;
        }

        &__content {
          display: flex;
          flex: 1 0 auto;
        }

        &__header {
          display: flex;
          flex-direction: column;
          margin-bottom: $XL;

          &-line {
            display: flex;
            flex: 1 0 auto;
          }
        }

        &__picture-title,
        &__picture-subtitle {
          color: white;
        }

        &__picture-title {
          @include font(XXL, false);
          flex: 1;
          margin-bottom: 4px;
        }

        &__picture-subtitle {
          @include font(M, false);
        }

        &__slider {
          flex: 1 0 auto;

          .as24-carousel__container {
            height: auto;
            justify-content: flex-start;
          }

          .as24-carousel__item {
            max-width: none;
            width: 100%;
          }
        }

        &__thumbnails {
          position: relative;
          background: none;
          transform: translate3d(0, 0, 0);
          flex: 0 0 auto;

          .as24-carousel__container {
            display: flex;
            justify-content: center;
          }

          .as24-carousel__item {
            img {
              max-height: 100%;
            }
          }
        }

        &__info {
          display: flex;
          flex-direction: column;
          flex: 0 0 330px;
          margin-left: 16px;
        }

      }

    }

  }
}
